<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="dirtdevil_banners_slider_two" frontName="dirtdevil_banners_slider_two">
            <module name="DirtDevil_PromoBannerTwo"/>
        </route>
    </router> 
</config>