<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="DirtDevil_PromoBanner::banners_slider" title="Dirtdevil" translate="title" 
        module="DirtDevil_PromoBanner" sortOrder="0" resource="DirtDevil_PromoBanner::banners_slider"/>
        <add id="DirtDevil_PromoBanner::all_banners" title="All Promo Banners" translate="title" module="DirtDevil_PromoBanner" 
        sortOrder="10" resource="DirtDevil_PromoBanner::all_banners" parent="DirtDevil_PromoBanner::banners_slider" action="dirtdevil_banners_slider/banner/index"/>
    </menu>
</config> 