<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="category_promo_banner" frontName="category_promo_banner">
            <module name="DirtDevil_CategoryPromoBanner" />
        </route>
    </router>
</config>
